<div class="Contenedor">
  <div class="ContBox col-md-6 offset-md-2">
      <div class="card">
          <div class="card-body">
              <form #formulario="ngForm" autocomplete="off">
                  <div class="form-group">
                    <span class="label label-success">Código:</span>
                    <input type="number" name="Identificación" [(ngModel)]="alumnoCompleto.alum_codigo" placeholder="Identificación" class="form-control" autofocus required disabled>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Nombres:</span>
                      <input type="text" name="Nombres" [(ngModel)]="alumnoCompleto.alum_nombres" placeholder="Nombres" class="form-control" required>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Apellidos:</span>
                      <input type="text" name="Apellidos" [(ngModel)]="alumnoCompleto.alum_apellidos" placeholder="Apellidos" class="form-control" required>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Teléfono:</span>
                      <input type="number" name="Teléfono" [(ngModel)]="alumnoCompleto.alum_telefono" placeholder="Teléfono" class="form-control" required>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Dirección:</span>
                      <input type="text" name="Dirección" [(ngModel)]="alumnoCompleto.alum_direccion" placeholder="Dirección" class="form-control" required>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Fecha de nacimiento:</span>
                      <input type="text" name="Nacimiento" [(ngModel)]="fechaNacimiento" bsDatepicker [(bsValue)]="myModel" value="{{ myModel | date:'MM/dd/yyyy'}}" placeholder="Fecha de nacimiento" class="form-control" required>
                  </div>
                  <div class="form-group">
                        <span class="label label-success">Email:</span>
                      <input type="text" name="Email" [(ngModel)]="alumnoCompleto.alum_email" placeholder="Email" class="form-control" required email>
                  </div>
                  <div class="form-group">
                    <span class="label label-success">Grupo: </span>
                      <select (change)="selectChangeHandler($event)" class="custom-select" required>
                        <option [value]="alumnoCompleto.alum_grupo">{{grup_indicativo}}</option>
                        <option *ngFor="let grupo of grupos" [value]="grupo.grup_id">{{grupo.grup_indicativo}}</option>
                      </select>
                  </div>
                  <button [disabled]="!formulario.form.valid" class="btn btn-secondary btn-block" (click)="saveAlumno()">Actualizar</button>
              </form>
          </div>
      </div>
  </div>
</div>
