.Container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px auto;
}
.Container .MateriasHead{
    width: 100%;
    padding: 20px;
}


.Container .MateriasHead .AlumTittle{
    margin: 15px 0px 15px 0px;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.Container .BodyBox{
    width: 100%;
    height: 100%;
    max-height: 500px;
    padding: 10px;
}

.table-responsive{
    width: 90%;
    margin: auto;
}

table tr.highlight {
    background-color: #252d52 !important;
    color: white;
    
}

table tr:hover{
    cursor: pointer;
}

.table td{
    vertical-align: middle;
}

.form-group{
    width: 70%;
}


.CheckBox{
    margin-top: 13px;
    margin-left: 10px;
}
.btn, .form-group{
    width: 50%;
}