<div class="Container">
  <nav>
      <img class="Logo" src="../assets/images/logo.png">
      <div class="NavText">
          <h1>Panel de administración</h1>
      </div>
  </nav>
  <section class="BodyCont">
      <div class="Menu">
          <a class="Item" routerLink="/home"><h1>Inicio</h1></a>
          <a class="Item" routerLink="/alumnos"><h1>Alumnos</h1></a>
          <a class="Item" routerLink="/materias"><h1>Materias</h1></a>
          <a class="Item" routerLink="/profesores"><h1>Profesores</h1></a>
          <a class="Item" routerLink="/reportes"><h1>Reportes</h1></a>
      </div>
      <div class="Content">
        <router-outlet></router-outlet>
      </div>
  </section>
</div>
